[Unit]
Description={name}
After=network.target

[Service]
WorkingDirectory={workingDirectory}
User=root
Restart=always
ExecStart={execStart}

[Install]
WantedBy=multi-user.target
